<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="ownFile" xsi:type="File" layout="${longdate}|${level:uppercase=true}|${message}"
				filename="${currentdir}/logs/${shortdate}.log"/>
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="allFile" />
		<logger name="Microsoft.*" minlevel="Trace" final="true" />
		<logger name="*" minlevel="Trace" writeTo="ownFile" />
	</rules>
</nlog>